<!-- Navigation -->
<div class="nav-message">
  <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" width="17" style="margin-bottom: 1.5px;">
    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"></path>
  </svg> 블로그가 개편되었습니다! <strong><a href="https://thingarx.com/">바로가기</a></strong></div>

<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{"/" | relative_url }}">
      <img src="/img/aerix-logo-white.png" alt="logo-aerix" width="120" id="logo-aerix-white">
      <img src="/img/aerix-logo-black.png" alt="logo-aerix" width="120" id="logo-aerix-black">
      <!-- {{ site.title | escape }} -->
      TECH BLOG
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{"/" | relative_url }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/about" | relative_url }}">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/technote" | relative_url }}">Tech Note</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/teamstory" | relative_url }}">TEAM STORY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/insight" | relative_url }}">INSIGHT</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="{{"/link" | relative_url }}">Link</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
