// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/styles.scss";

.category-title {
  background-color: #FFC;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 32px;
  font-weight: 700;
}

article  .container {
  padding: 0;
  column-gap: 40px;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.container .img-box {
  margin-top: 10px;
  border-radius: 70%;
  height: 200px; 
  overflow: hidden;
  width: 200px;

  .img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.contents {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;

  .name {
    margin-bottom: 20px;
  }

  .position {
    color: gray;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .timeline > hr {
    background-color: rgb(233, 233, 233);
    height: 1px;
    border: 0;
    text-align: left;
    margin-left: 0;
    width: 80px;
  }
}

.timeline {
  margin-top: 0.5em;
  margin-bottom: 1em;
  position: relative;
  max-width: 46em;
  list-style: none;
  padding: 0;
  
  &:before {
    background-color: black;
    content: '';
    position: absolute;
    top: 0;
    left: 0.6em;
    width: 2px;
    height: 100%;
  }
}

.timeline-event {
  position: relative;
  
  &:hover {
  
    .timeline-event-icon {
      transform: rotate(-45deg);
      background-color: rgb(168, 50, 121);
    }
    
    .timeline-event-thumbnail {
      box-shadow: inset 40em 0 0 0 rgb(168, 50, 121);
    }
  }
}

.timeline-event-copy {
  position: relative;
  left: 2em;
  
  h4 {
    font-size: 1.2em;
    margin-bottom: 1em;
  }
  
  strong {
    font-weight: 700;
  }
}

.timeline-event-icon {
  transition: transform 0.2s ease-in;
  transform: rotate(45deg);
  background-color: black;
  outline: 10px solid white;
  display: block;
  margin: 0.5em 0.5em 0.5em -0.5em;
  position: absolute;
  top: 0;
  left: 0.75em;
  width: 0.75em;
  height: 0.75em;
}

.timeline-event-thumbnail {
  transition: box-shadow 0.5s ease-in 0.1s;
  color: white;
  font-size: 0.75em;
  background-color: black;
  box-shadow: inset 0 0 0 0em #ef795a;
  display: inline-block;
  margin-top: 0.3em;
  margin-bottom: 0.9em;
  padding: 0.25em 1em 0.2em 1em;
}

/*
* 뱃지
*/

.badge-row{
	margin-top: 0.5em;
  margin-bottom: 1em;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.chip{
	padding: 6px 10px;
	border-radius: 3px;
	font-weight: 600;
	font-size: 12px;
	box-shadow: 0 2px 5px rgba(0,0,0,.25);
	margin: 0 10px;
}

.chip.primary{
	background: #2F4058;
	color: whitesmoke;
}

.chip.secondary{
	background: #242933;
	color: whitesmoke;
}

.chip.warning{
	background:#FEB904;
	color: whitesmoke;
}
.chip.danger{
	background: #DA605B;
	color: whitesmoke;
}

.chip.info{
	background: #5FD6D4;
	color: whitesmoke;
}

.chip.green{
	background: #22882a;
	color: whitesmoke;
}

.comment {
  margin: 0.5em 0;
  font-size: 16px;
  font-weight: 500;
}


/*
* 반응형
*/

@media (max-width: 767px){
  /* 브라우저 사이즈 767px 이하일때*/
  .col-lg-8 .col-md-10 .mx-auto{
    overflow: hidden;
  }
  article .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  .container .img-box {
    margin: 0 auto;
  }

  .timeline-event-copy  {    
    width: 92%;
  }
}